/* #nav{
    width: 10%;
    float: left;
    margin: 0 0 0 0;
    margin-left: 91%;
    padding: 40px;;
    list-style: none;
    background-color: #020202;
    border-bottom: 1px solid rgb(10, 10, 10); 
    border-top: 1px solid rgb(19, 18, 18); }
    #nav li a {
        display: block;
        padding: 8px 15px;
        text-decoration: none;
        font-weight: bold;
        color: rgb(251, 254, 255);
        border-right: 1px solid rgb(8, 8, 8); } */
        .sidebar {
            position: fixed;
            top: 0;
            bottom: 0;
            left: 0;
            min-height: 100vh !important;
            z-index: 100;
            padding: 48px 0 0;
            box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
        }
        #sidebar-wrapper{
            min-height: 100vh !important;
            width: 100vw;
            margin-left: -1rem;
            -webkit-transition: margin .25s ease-out;
            -moz-transition: margin .25s ease-out;
            -o-transition: margin .25s ease-out;
            transition: margin .25s ease-out;
        }
        #sidebar-wrapper .sidebar-heading {
            padding: 0.875rem 1.25rem;
            font-size: 1.2rem;
        }
        
        #page-content-wrapper {
            min-width: 0;
            width: 100%;
        }
        .responsive{
            width: 200%;
            max-width: 400px;
            height: auto;
          }
          /* .dark{
            background-image: url("C:\Users\DELL\Desktop\Reaact\oss\src\Images\image1.jpg");

          } */
          .aa{
              background-color: black;
          }